.App{
  height: 100vh;
  width: 100vw;
  background-color: #eee;
}

.searchBar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh;
  min-width: 40%;
  position: relative;
}